abbrev_defs
auto-save-list
%backup%~
backup
backups
catppuccin
custom.el
eclipse.jdt.ls
eln-cache
elpa
enlight.el
history
init.el~
init.org~
init-tangled.el
network-security.data
pinit.el
places
projectile-bookmarks.eld
projects
recentf
snippets
theme.el
transient	
url
workspace
*~
\#*\#
.#*
.#*
